<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="Tachiyomi: WaveTeamy"
        android:allowBackup="true">
        
        <meta-data
            android:name="tachiyomi.extension.class"
            android:value=".WaveTeamyFactory" />
        
        <meta-data
            android:name="tachiyomi.extension.nsfw"
            android:value="0" />
    </application>

</manifest>
